Repository inventree/inventree-docs, pull requests merged in 2022-07, with the labels that each got.

#314 Mention python-barcode parameter adding capabilities
  docs/report/barcodes.md
Labels: enhancement

#322 Plugin external dir
  docs/app/stock.md
  docs/extend/plugins.md
  docs/extend/plugins/install.md
  docs/extend/plugins/label.md
  docs/start/config.md
  mkdocs.yml
Labels: plugins

#324 Add note about VCS install option
  docs/extend/plugins/install.md
Labels: enhancement, plugins
